.aboutThem {
  border-radius: 50%;
  border: 7px solid rgb(214, 221, 240);
  width: 150px;
  height: 150px;
}
.aboutTable {
  margin-left: 10px;
  margin-right: 10px;
  table-layout: fixed;
  border-style: inset;
}
.aboutHeader {
  font-size: 28px;
  width: 20%;
  padding-left: 15px;
}
.aboutText {
  text-align: center;
  width: 70%;
}
