.nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-left: 500px;
  list-style-type: none;
}

.active {
  color: rgb(202, 52, 32);
  text-decoration: none;
}
.nav a:hover {
  color: rgb(72, 202, 32);
  text-decoration: none;
}
.nav a:active {
  color: rgb(202, 52, 32);
  text-decoration: none;
}
