.flex {
  width: 65%;
  padding: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 200px;
}
.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #a0b4c4;
  margin: 50px 10px;
  padding-left: 20px;
  height: 200px;
  box-shadow: 0 2px 5px rgb(46, 45, 45);
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #e0e9e9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 4% 20px 50px;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 100px;
}

.info {
  color: #125f59;
}

.addToCart {
  background-color: red;
  color: white;
  margin-left: 200px;
  margin-right: 200px;
}
